.header {
  height: 64px;
  display: flex;
  justify-content: space-between;

  background-color: #fafbfd;

  &_right {
    display: flex;
  }
}

.header_pin {
  z-index: 1000;

  :global {
    .headroom--pinned {
      .j-header-pin {
        background-color: #fff;
        box-shadow: 0 2px 8px #f0f1f2;
      }
    }
  }
}

.logo {
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  font-weight: 470;
  margin-left: 40px;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.flex_center {
  display: flex !important;
  align-items: center;
}

.menu {
  border: none;
  margin-right: 20px;
  font-size: 14px;
  background-color: inherit;
  flex-wrap: wrap;

  &_item {
    padding: 0 25px !important;
  }

  :global {
    .ant-menu-item {
      display: flex !important;
      align-items: center;
    }

    .ant-menu-submenu {
      display: flex !important;
      align-items: center;
    }
  }
}

.github {
  &_wrapper {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    transition: all 0.3s linear;
    padding: 7px;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &_icon {
    color: #000;

    :global {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
